
body {
	font-family:
		Verdana,
		Trebuchet,
		Tahoma,
		sans-serif,
		SansSerif,
		Lucida,
		Arial,
		Times,
		Courier;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	color: rgb(0, 0, 0);
	background-color: rgb(224, 224, 224);
}

h1 {
	color: rgb( 0, 0, 0 );
	font-size: 24pt;
	font-weight: bold;
	font-style: normal;
}

h2 {
	color: rgb( 0, 0, 0 );
	font-size: 18pt;
	font-style: normal;
	font-weight: bold;
}

h3 {
	color: rgb( 0, 0, 0 );
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
}

h4 {
	color: rgb( 0, 0, 0 );
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}

h5 {
	color: rgb( 0, 0, 0 );
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}

h6 {
	color: rgb( 0, 0, 0 );
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}

h7 {
	color: rgb( 0, 0, 0 );
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}

a:link {
	color: rgb( 64, 64, 128 );
}

a:visited {
	color: rgb( 64, 64, 128 );
}

a:active {
	color: rgb(128, 64, 64 );
}

.selectableItem {
	cursor: pointer;
}

.menu0 {
	font-size: 11pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.menu1 {
	font-size: 10pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.menu2 {
	font-size: 9pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 40px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.menu3 {
	font-size: 8pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 60px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.menu4 {
	font-size: 8pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 80px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.menu5 {
	font-size: 8pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 100px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.menu6 {
	font-size: 8pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 120px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.menu7 {
	font-size: 8pt;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 140px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.indent1 {
	margin-top: 25px;
	margin-left: 40px;
	margin-right: 0;
	margin-bottom: 25px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested0 {
	margin-top: 0;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested1 {
	margin-top: 0;
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested2 {
	margin-top: 0;
	margin-left: 40px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested3 {
	margin-top: 0;
	margin-left: 60px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested4 {
	margin-top: 0;
	margin-left: 80px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested5 {
	margin-top: 0;
	margin-left: 100px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested6 {
	margin-top: 0;
	margin-left: 120px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested7 {
	margin-top: 0;
	margin-left: 140px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested8 {
	margin-top: 0;
	margin-left: 160px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested9 {
	margin-top: 0;
	margin-left: 180px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.nested10 {
	margin-top: 0;
	margin-left: 200px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.banner {
	color: rgb( 242, 145, 94 );
	font-size: 28pt;
	text-align: center;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.centerblock {
	margin-left: 25%;
	margin-right: 25%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.centerwide {
	margin-left: 10%;
	margin-right: 10%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.centered {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.wakeup {
	color: rgb( 0, 0, 0 );
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	margin-top: 20;
	margin-left: 20;
	margin-right: 20;
	margin-bottom: 20;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.brightBack {
	background-color: rgb( 0, 0, 0 );
}

.whiteBack {
	background-color: rgb( 255, 255, 255 );
}

.fieldEditReqOk {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelEditReqOk {
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}

.fieldEditOptOk {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelEditOptOk {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}


.fieldEditReqWarn {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelEditReqWarn {
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}


.fieldEditOptWarn {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelEditOptWarn {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}


.fieldEditReqError {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelEditReqError {
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
}


.fieldEditOptError {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelEditOptError {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}


.fieldReadReqOk {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelReadReqOk {
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
}


.fieldReadOptOk {
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
}
.labelReadOptOk {
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
}


.fieldReadReqWarn {
	background-color: rgb( 192, 128, 128 );
}
.labelReadReqWarn {
	font-weight: bold;
}


.fieldReadOptWarn {
	background-color: rgb( 192, 0, 0 );
}
.labelReadOptWarn {
	font-style: italic;
}


.fieldReadReqError {
	background-color: rgb( 192, 0, 0 );
}
.labelReadReqError {
	font-weight: bold;
}


.fieldReadOptError {
	background-color: rgb( 192, 0, 0 );
}
.labelReadOptError {
	font-style: italic;
}
